@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@300&display=swap');
.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-image: url("../background.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-home-card {
  padding-top: 100px;
  padding: 80px;
  max-width: 50%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(85, 85, 252, 0.836)
}

.subheading {
  text-align: left;
  font-size: 20px;
  /* background-color: rgba(0, 0, 0, 0.25); */
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: monospace;
  font-family: 'Poppins';
  text-align: center;
}

.check-button {
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  color: blue;
  width: 200px;
  border-radius: 10px;
  font-family: Poppins;
  transition: 0.2s;
  box-shadow: 0px 0px 15px 1px rgba(1, 55, 204, 0.5);
}

.check-button:hover {
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.02);
}

.home_image_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_image_container img {
  width: 100%;
  height: auto;
  margin: auto auto;
}

.App-link {
  color: #61dafb;
}

.typewriter h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid whitesmoke;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em;
  /* Adjust as needed */
  animation: typing 2.5s steps(10, end), blink-caret 0.75s step-end infinite;
  font-size: 160px;
  font-family: Alata;
  color: whitesmoke;
}

.made_by_container {
  margin-top: 3rem;
  font-size: 1.2rem;
  color: white;
}

.made_by_container a {
  text-decoration: none;
  color: white;
}

/*Media queries*/
@media screen and (max-width: 1430px) {
  .home_image_container{
    display: none;
  }

  .App-home-card{
    max-width: 100%;
    padding: 30px;
  }

}
@media screen and (max-width: 700px) {
  .typewriter h1{
    font-size: 120px;
  }

  .App-header{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  
  .btn.back-button{
    margin: 30px 0px;
    justify-content: center;
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}
@media screen and (max-width: 650px) {
  .PlagUrl{
    width: 100%;
    word-wrap: break-word;
  }

  .ol{
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .typewriter h1{
    font-size: 80px;
  }
  .check-button{
    width: 150px;
    margin-top: 20px;
  }
  .Form-card{
    margin: 0;
    width: 100vw;
    min-width: none;
  }

  #page-heading{
    font-size: 50px;
  }

  #form-card-ref{
    margin: 5px 10px 0px 10px;
    padding: 10px 20px;
    min-width: none;
  }
  .reveal-if-active{
    margin: 10px 0px;
  }
  .p-fileupload-buttonbar{
    display: flex;
    flex-direction: column;
  }
  .p-fileupload .p-fileupload-buttonbar .p-button {
    margin: 5px 10px;
}
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: whitesmoke;
  }
}

@font-face {
  font-family: "Rougher";
  src: local("Rougher"), url(../fonts/Rougher/RougherPersonalUse-z897X.ttf) format("truetype");
}